.menu{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 3.2rem 12rem;
}

.vector{
    height: 24px;
    width: 24px;
}

.menu__header{
    display: flex;
    align-items: center;
    
}


@media (max-width: 768px) {

    .menu{
        margin: 1.5rem 1.5rem;
    }

}