.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.2rem 12rem;
}

.vector{
    height: 24px;
    width: 24px;
}

.menu__header{
    display: flex;
    align-items: center;
    
}

