.about__paragraph{
    margin: 0.95rem 0;
    margin-right: 22vw;
    font-family: Raleway;
    font-size: 1rem;
    
}

.about__paragraph:last-of-type {
    margin-bottom: 1.5rem;
}   


@media (max-width: 768px) {

    .about__paragraph{
        margin: 0 0 1rem 0;
        font-size: 0.88rem;
    }
}

