.experience__button--demo{
    background-color: #2a7ae4;
    border: #2a7ae4;;
    font-family: Raleway;
    font-weight: 400;
    color: white;
    width: 105px;
    height: 51px;
    margin: 0.15rem;
    
}