.experience__info{
    display: flex;
    width: 22vw;
    flex-direction: column;
    justify-content: center;
    align-items:first baseline;
    margin: 1rem;
}

.experience__info:nth-child(odd){
    margin: 0;  
}

@media (max-width: 360px){

    .experience__info{
    margin: 1.5rem 0;
    width: 80vw;
    }
}