.formcontacto__textarea{
    font-family: Raleway;
    margin: 0.51rem 0 0 0;
    font-size: 1rem;
    width: 40vw;
    border: white;
    border-radius: 4px;
    padding: 1.2rem 0 0 0.3rem;
    margin-bottom: 0.5rem;
}

.formcontacto__textarea::placeholder{
    font-size: 1.05rem;
    font-family: Raleway;
    font-size: 0.75rem;
    color: grey;
    text-align: left;
    line-height: normal;
}

.labelTextArea{

    display: none;
    position: relative;
    bottom: 7.68rem;
    /*display: none;
    position: relative;
    bottom: 10px;
    left: 5px;
    font-family: Raleway;
    color: grey;
    font-size: 230rem;
    */
}

.formcontacto__textarea:focus + label{

    display: block;
}


@media (max-width: 768px) {

    .formcontacto__textarea{

        width: 65vw;
    }

    
}


