.formcontacto__subtext{
    font-family: Raleway;
    font-weight: 500;
    color: #464646;
    margin-bottom: 0.3rem;
}


.formcontacto__subtext:last-of-type{
    margin-bottom: 1rem;
}

@media(max-width: 360px){

    .formcontacto__subtext{
        width: 72vw;
    }

}