.formcontacto__input{
    height: 56px;
    width: 40vw;    
    margin: 0.51rem 0 0.51rem 0;
    font-family: Raleway;
    border: white;
    border-radius: 6px;
    padding: 0.33rem;
}

.formcontacto__input::placeholder{

    font-family: Raleway;
    color: grey;
    margin: 0.33rem;    
    
}

label {
  display: none;
  position: relative;
  bottom: 60px;
  left: 5px;
  font-family: Raleway;
  color: grey;
  font-size: 0.8rem;
}


.formcontacto__input:focus + label {
  display: block;
  
}


@media (max-width: 768px) {

  .formcontacto__input{

      width: 65vw;
  }

  
}