.title__network{
    margin-top: 0.7rem;
    display: flex;
}

.title__network__item{

    font-family: Raleway;
    margin: 0.5rem;
}

@media (max-width: 360px){

    .title__network{

        margin: 0 1vw;
    }
    .title__network__item{
        margin: 0.75rem 0.2vw;
    }
}