.academic__courses__item__img{
    width: 26vw;
    height: 21vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

@media (max-width: 360px) {

    .academic__courses__item__img{
        width: 80vw;
        height: 40vw;
        
    }

}

