.academic__courses__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 5vw;    
}

@media (max-width: 768px) {

    .academic__courses__list{
        
    }

}