
.academic_courses_img{
    width: 9vw;
}



@media (max-width: 768px) {

    .academic_courses_img{
        text-align: center;
        vertical-align: bottom;
        
    }

}

@media (max-width: 360px) {

    .academic_courses_img{

        text-align: center;
        width: 30vw;
        
        
    }

    
}
